{% extends "app/base.html" %} 
{% load static %}
{% block title %}ChangePassword{% endblock title %}



{% block profile %}



<div class="container my-5">
    
    <div class="row">
        <h3>Welcome <small class='text-capitalize'>'{{request.user|capfirst}}'</smal> </h3>
        
            <div class="col-sm-2 border-end">
              <hr>

                <ul class="list-unstyled">
                    <li class="d-grid"><a href="{% url "passwordchange" %}" class="btn btn-primary">Change Password</a></li> <br>
                </ul>
            </div>


            <div class="col-sm-9 offset-sm-3">
                <form action="" method="post" novalidate class="shadow p-5 " style="color: black;">
                    {% csrf_token %} 
                   
                
                   
                    {% for f in form %}
                    {{ f.label_tag }} {{ f }} <small class="text-danger"> {{ f.errors | striptags }}</small> 
                
                    <br>
                    {% endfor %}
                    <input type="submit" value="Submit" class="btn btn-primary"><br>
                    
                    {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                    <p class="alert alert-danger my-3">{{error}}
                    {% endfor %}
                    {% endif %}
                   
                 <br>
                 <br>
                 <br>
            </div>
       

    </div>
</div>

{% endblock profile %}



A@123abc