{% extends "app/base.html" %} 
{% load static %}
{% block title %}CustomerRegistration{% endblock title %}


{% block customerregistration %}


<div class="container">
    
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3" >
        <h3>Customer Registration</h3>
        <hr>
      

   
<form action="" method="post" novalidate class="shadow p-5 " style="color: black;">
    {% csrf_token %} 
   

   
    {% for f in form %}
    {{ f.label_tag }} {{ f }} <small class="text-danger"> {{ f.errors | striptags }}</small> 

    <br>
    {% endfor %}
    <input type="submit" value="Register" class="btn btn-primary"><br>
    <div class="text-center text-success fw-bold">
     <small>Existing User ? <a href="{% url "login" %}" class="text-danger">Login Now</a></small>
    </div>
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <p class="alert alert-danger my-3">{{error}}
    {% endfor %}
    {% endif %}
    {% if messages %}
 {% for msg in messages %}
 <div class="alert alert-{{msg.tags}}"role="alert">
  {{msg}}
 {% endfor %}
 {% endif %}
 
 <br>
 <br>
 <br>
 
      
 
{% endblock customerregistration %}








