{% extends "app/base.html" %} 
{% load static %}
{% block title %}ChangePassword{% endblock title %}



{% block profile %}



<div class="container my-5">
    
    <div class="row">
        <h3>Welcome <small class='text-capitalize'>'{{request.user|capfirst}}'</smal> </h3>
        
            <div class="col-sm-2 border-end">
              <hr>

                <ul class="list-unstyled">
                    <li class="d-grid"><a href="{% url "passwordchange" %}" class="btn btn-primary">Change Password</a></li> <br>
                </ul>
            </div>

            <div class="col-sm-9 offset-sm-3">

                <h3>Change Password Successfully </h3>
            <div>
<iframe src="https://giphy.com/embed/ibo1le3mOqHE3PQTtk" frameborder="0" width="200" height="200" class="giphy-embed">
    
</iframe>
            </div>
            </div>
           
                 <br>
                 <br>
            </div>
       

    </div>
</div>

{% endblock profile %}
